
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

    <h1>welcome to hxarc v-{{ version }}</h1>

  <p>This is the web version of hx_util (edx course export utilities).</p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
      <!--div class="col-lg-6"> -->
      <h2><i class="fa fa-upload"></i> Upload your edX export
          (&lt;<em>edx-random-id</em>&gt;.tar.gz) to get:</h2>
        <ul>
            <li>a list of all the video files in your course and where in the
                course they appear in .tsv format (Course_Video_Sheet.tsv)</li>
            <li>a folder full of .srt transcript files</li>
            <li>a list of all URLs to external sites and documents used in the
            course</li>
            <li>more good stuff as Colin adds more pixie dust</li>
        </ul>
        <p>Upload returns a page with a download link and the file you'll get back
        will be called <em>hxarc_&lt;bunchacharacters&gt;</em>.tar.gz and opening that
        will give you the above elements.</p>
        <p>If you need to open the .tsv, using Google Sheets will reduce
        Unicode issues that Excell can suffer.</p>

      <p><a class="btn btn-default" href="{{ url_for('upload.upload')
          }}">upload and process &raquo;</a></p>
    <!-- /div-->
  </div><!-- /.row -->
</div>
{% endblock %}

