
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>welcome to hxarc</h1>

  <p>This is the web version of hx-py xml utilities.</p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-6">
      <h2><i class="fa fa-upload"></i> Upload a course export tar.gz</h2>
      <p>from the course export tar.gz, have the srt-video map, links, problems, html
      components generated for you in tsv format.</p>
      <p><a class="btn btn-default" href="{{ url_for('upload.upload')
          }}">upload and process &raquo;</a></p>
    </div>
    <div class="col-lg-6">
      <h2><i class="fa fa-file-code-o"></i> Prefer to install xml utilities?</h2>
      <p>follow read me to install and run scripts locally</p>
      <p><a
          href="https://github.com/Colin-Fredericks/hx-py/tree/master/XML_utilities"
          class="btn btn-default">xml_utilities &raquo;</a></p>
   </div>
  </div><!-- /.row -->
</div>
{% endblock %}

