django==4.2.20
django-cors-headers==4.7.0
lti>=0.9.5
python_dotenv==1.1.0
python3-saml==1.16.0
redis==6.0.0
django-vkey @ git+https://github.com/HarvardX/django-vkey.git@d5b5e7bb96a38beef44ad649a3b4655d6ee00d5e
