<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        <title>{% block title %}hxarc{% endblock %}</title>
    </head>
    <body>
    <header>
        <p>
        &nbsp;&nbsp;
        <a href="{% url 'landing' %}">hxarc v{{ hxarc_version }}</a>
        {% for key,values in hxarc_subprocs.items %}
        | <a href="{% url key %}">{{ values.display_name }}</a>
        {% endfor %}
        &nbsp;&nbsp;&nbsp;
        logged as {% firstof username 'anonymous' %}
        </p>
    </header>

    {% block content %}{% endblock %}

    </body>
</html>
