
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <h1>upload (hx_util v{{ subproc_version }})</h1>
    <br/>
    <form id="uploadForm" class="form form-register" method="POST"
        action="" role="form" enctype="multipart/form-data"
        onsubmit="myButton.disabled=true; return true;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{form.course_export.label}}
                {{form.course_export(class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-submit" name="myButton" type="submit" value="upload"></p>
    </form>
</div>
{% endblock %}
